/* The below comment is meant for any comments that have to do with NOTES so I know what certain symbols will mean. */
/* ! means its good. ? means it is questionable */

.championCardContainer {
    display: table-cell; /* Still testing if the rest of these fit; start at table-cell and move down the list to inline */
    /* NOTE: inline, block, contents, inline-block!, inline-table?, list-tem, run-in, table?, table-header-group, table-footer-group, table-row-group, table-cell */
    /* NOTE: Currently the width and height do not matter at all (with display: initial) so I will just leave it here for now.  */
    width: 750px;
    height: 350px;
    background-color: hsla(152, 77%, 7%, 0.92);
}

.statBox {
    /* width: 200px;
    height: 150px;
    border: 2px solid hsla(51, 82%, 36%, 1); */
}

#championImage {
    /* margin-left: 0px; */
}